extends layout

block content
  h1= title

  if bikeinstance_list.length
    ul
      each val in bikeinstance_list
        li
          a(href=val.url) #{val.bike.title} : #{val.imprint} -&nbsp;
          if val.status=='Available'
            span.text-success #{val.status}
          else if val.status=='Maintenance'
            span.text-danger #{val.status}
          else
            span.text-warning #{val.status}
                if val.status != 'Available'
                //span  (Due: #{val.due_back} )
                span  (Due: #{val.due_back_formatted} )


  else
    p There are no bike copies in this library.
