extends layout

block content
  h1 ID: #{bikeinstance._id}

  p #[strong Title: ]
    a(href=bikeinstance.bike.url) #{bikeinstance.bike.model}

  p #[strong Status: ]
    if bikeinstance.status=='Available'
      span.text-success #{bikeinstance.status}
    else if bikeinstance.status=='Maintenance'
      span.text-danger #{bikeinstance.status}
    else
      span.text-warning #{bikeinstance.status}

  if bikeinstance.status!='Available'
  
  hr
  div
    a.btn.btn-danger(href=bikeinstance.url+'/delete') Delete Bikeinstance
    | 
    a.btn.btn-primary(href=bikeinstance.url+'/update') Update Bikeinstance
