extends layout

block content
  h1 #{bike.model} Details
  hr
  h2 Category
  p #{bike.category.name}
  h2 Brand
  p #{bike.brand.name}
  p #{bike.brand.origin}
  h2 Description
  p #{bike.category.description}

  table.table.table-bordered.table-striped.table-hover
    thead
      h2 Specification
    tbody
      each section in ['Frame', 'Suspension', 'Wheels', 'Drivetrain', 'Components', 'Weight']
        tr
          td(colspan="2" style="font-weight: bold")= section
        each specKey in Object.keys(bike.specs[section.toLowerCase()])
          tr
            - const specValue = bike.specs[section.toLowerCase()][specKey]
            td= specKey.replace(/([a-z])([A-Z])/g, '$1 $2')
            td= specValue

  h2 Availability

  table.table.table-bordered.table-striped.table-hover
    thead
      tr
        th Size
        th In stock
    tbody
      each size, count in size_counts
        tr
          td= count
          td= size
  h2 Price
  p $#{bike.price}
  hr

  div
    a.btn.btn-danger(href=bike.url+'/delete') Delete Bike
    | 
    a.btn.btn-primary(href=bike.url+'/update') Update Bike
