extends layout 

block content 
    h1 #{title}: #{bike_instance.bike.model}
    hr
    p #[strong ID: ] #{bike_instance.id} 
    p #[strong Status: ] 
        if bike_instance.status == "Available" 
            span.text-success #{bike_instance.status} 
        else if bike_instance.status == "Maintenance"
            span.text-danger #{bike_instance.status} 
        else 
            span.text-warning #{bike_instance.status}
    hr
    p Do you really want to delete this bike instance? 
    form(method="POST") 
        input#bike_instance_id.form-control(type="hidden" value=bike_instance._id name="bikeinstanceid")
        button.btn.btn-danger(type="submit") Delete 