extends layout

block content
  h1 Title: #{bike.title}

  p #[strong Brand: ]
    a(href=bike.brand.url) #{bike.brand.name}
  p #[strong Summary:] #{bike.summary}
  p #[strong ISBN:] #{bike.isbn}
  p #[strong Category: ]
    each val, index in bike.category
      a(href=val.url) #{val.name}
      if index < bike.category.length - 1
        |,&nbsp;

  div(style='margin-left:20px;margin-top:20px')
    h4 Copies

    each val in bike_instances
      hr
      if val.status=='Available'
        p.text-success #{val.status}
      else if val.status=='Maintenance'
        p.text-danger #{val.status}
      else
        p.text-warning #{val.status}
      p #[strong Imprint:] #{val.imprint}
      if val.status!='Available'
        p #[strong Due back:] #{val.due_back}
      p #[strong Id: ]
        a(href=val.url) #{val._id}

    else
      p There are no copies of this bike in the library.
    hr
    p
      a(href=bike.url+'/delete') Delete Bike
    p
      a(href=bike.url+'/update') Update Bike
