extends layout

block content

  h1 #{title}: #{bike.model}
  hr
  if bike_instances.length
    div(style='margin-left:20px;margin-top:20px')
      p #[strong All of the instances of this bike will be deleted. Do you want to continue?]
      h4 Bike instances
      ul
      each instance in bike_instances
        li
          a(href=`/catalog/bikeinstance/${instance._id}`) #{instance.bike.model}
          | 
          small (ID: #{instance._id})
    hr
    form(method='POST')
      div.form-group
        input#bikeid.form-control(type='hidden', name='bikeid', value=bike._id )

      button.btn.btn-danger(type='submit') Delete Bike and Stock

  else
    p Do you really want to delete this bike?

    form(method='POST')
      div.form-group
        input#bikeid.form-control(type='hidden', name='bikeid', value=bike._id )

      button.btn.btn-danger(type='submit') Delete
