extends layout

block content
  h1= title

  if brand_list.length
    ul
      each brand in brand_list
        li
          a(href=brand.url) #{brand.name}
          |  (#{brand.date_of_birth_formatted} - #{brand.date_of_death_formatted})
  else
    p There are no brands.
