extends layout

block content

  h1 Brand: #{brand.name}

  div(style='margin-left:20px;margin-top:20px')

  if brand_bikes.length
    ul
    each bike in brand_bikes
      li
        a(href=bike.url) #{bike.model}

  else
    p This brand has no bikes.
  hr
  div
    a.btn.btn-danger(href=brand.url+'/delete') Delete Brand
    | 
    a.btn.btn-primary(href=brand.url+'/update') Update Brand

    