extends layout

block content

  h1 Category: #{category.name}
  hr
  div(style='margin-left:20px;margin-top:20px')
    if category_bikes.length
      ul
      each bike in category_bikes
        li
          a(href=bike.url) #{bike.model}
    else
      p This category has no bikes.
    hr
  div  
    a.btn.btn-danger(href=category.url+'/delete') Delete Category
    | 
    a.btn.btn-primary(href=category.url+'/update') Update Category